.adminPanel {
  background-color: #181924;
  color: white;
}

.dashboardNav {
  background-color: #3b3c45;
}

.adminNav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.adminNav_list > li {
  padding: 10px;
  list-style: none;
  display: flex;
}

.adminNav_list > li > a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.adminNav_list > li > a:hover {
  color: white;
}

.admin_name {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.MuiButton-label {
  color: rgb(226, 226, 226);
  font-weight: bold;
  font-size: 16px;
}

.MuiButtonBase-root {
  color: white !important;
}

.MuiList-root {
  background-color: #3b3c45;
}

.MuiSvgIcon-root {
  font-size: 20px !important;
  margin-right: 10px;
}

.sidebar_list {
  display: flex;
  color: white;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin-top: -77px;
}

.sidebar_list > a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 40px;
  border: 1px solid white;
  margin: 20px;
  border-radius: 5px;
}

.dash__events {
  background-color: #181924;
  height: 100vh;
}

.upload {
  display: flex;
  flex-direction: column;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.upload > div > .MuiSvgIcon-root {
  font-size: 100px !important;
  margin-right: 0px;
}

.upload > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}

.upload > p {
  font-weight: bold;
}

.upload__modal {
  background-color: #3b3c45;
  color: white;
  width: 500px;
  height: 500px;
  margin-left: 400px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.eventupload {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.eventupload > h2 {
  margin-bottom: 20px;
}

.eventupload > div > input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

.imageupload__progress {
  width: 350px;
}

.imageupload__button {
  background-color: #181924 !important;
  width: 350px;
}

.fileupload {
  padding: 10px;
}
