.login {
  background-color: #181924;
  height: 100vh;
}
.signUp {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login__auth {
  display: flex;
  flex-direction: column;
}

.login__auth > input {
  padding: 10px;
  background-color: transparent;
  margin: 10px;
  width: 300px;
  color: white;
  border: 1px solid white;
}

.login__auth > button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
