.flutterBootcamp {
  margin-top: 70px;
}
.flutterHeader {
  background-color: #002145;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  padding: 100px 200px;
  justify-content: space-between;
  color: white;
}
.flutterHeader > img {
  height: 350px;
  margin-right: 200px;
}
.flutterHeader > div > h1 {
  font-size: 50px;
}
.flutterHeader > div > p {
  font-size: 20px;
}
.flutterHeader > div > p > span {
  font-weight: 600;
}
.flutterHeader > div > div {
  margin-top: 40px;
}
.flutterRegister {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #2f5be7;
  border-radius: 999px;
}
.flutterBody {
  text-align: center;
  padding: 100px 200px;
}
.flutterWhy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flutterWhy > h2 {
  font-size: 40px;
}
.flutterWhy > p {
  font-size: 25px;
  width: 80%;
}
.flutterWhy > div {
  margin-top: 30px;
}
.flutterSpeakers {
  margin-top: 100px;
}
.flutterSpeakers > h2 {
  font-size: 40px;
}
.speakers {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  margin-top: 50px;
}
.speaker > img {
  border-radius: 50%;
  max-width: 200px;
}
