.nav {
  height: 75px;
  width: 100%;
  border-bottom: 2px solid rgb(26, 26, 26, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.9rem;
}
.links {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.7);
}
.nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right {
  margin-right: 8vw;
}
.left {
  margin-left: 8vw;
}
.right > * {
  margin: 0 10px;
}
.membership {
  border: 1px solid transparent;
  background-color: rgb(47, 91, 231);
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 3rem;
  box-shadow: 0px 16px 31px -6px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}
.membership * {
  margin: 0 3px;
}

/* 
    Media Queries
*/
@media (max-width: 1000px) {
  .right {
    margin-right: 4vw;
  }
  .left {
    margin-left: 4vw;
  }
}
@media (max-width: 880px) {
  .right,
  .right * {
    display: none;
    margin: 0;
  }
  .left {
    margin-left: 0;
  }
  .nav {
    justify-content: center;
  }
}
