.footer__gdsc {
  padding: 100px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__gdsc > img {
  width: 300px;
}

.footer__social > a {
  color: gray;
  padding: 10px;
}
