.overview {
  margin-top: 100px;
  padding: 50px 150px 50px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview__data {
  width: 480px;
}

.overview__data > p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: 600;
  color: gray;
  font-size: 18px;
}

.overview__cover > img {
  height: 400px;
}

.member__overview {
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.cards {
  padding: 100px;
  display: flex;
}

.opertunities {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 50px;
}

.opportunity__cards {
  display: flex;
  padding: 80px;
  color: #637282;
}

.opportunity__cards > ul {
  list-style-type: circle;
  list-style-position: inside;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .overview {
    flex-direction: column;
    padding: 0px;
  }

  .overview__data {
    width: 300px;
  }

  .overview__data > h1 {
    font-size: 20px;
  }

  .overview__data > h2 {
    font-size: 16px;
  }

  .overview__data > p {
    font-size: 16px;
  }

  .overview__cover > img {
    width: 280px;
    object-fit: contain;
  }

  .cards {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .opertunities {
    padding: 15px;
  }

  .opertunities > h2 {
    font-size: 20px;
  }

  .opportunity__cards {
    flex-direction: column;
    padding: 10px;
  }

  .card {
    padding: 0px;
  }
}
