.overview {
  margin-top: 100px;
  padding: 50px 150px 50px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview__data {
  width: 480px;
}

.overview__data > p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: 600;
  color: gray;
  font-size: 18px;
}

.overview__cover > img {
  height: 400px;
}

.member__overview {
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.cards {
  padding: 100px;
  display: flex;
}
