.team {
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 50px 20px;
}

.team__title {
  text-align: center;
  padding-bottom: 50px;
}

.teamCards {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.teamCard {
  margin: 10px;
  background-color: rgb(62, 64, 73);
  width: 250px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.team__details {
  padding: 10px;
  text-align: center;
}

.team__details > h1 {
  font-size: 20px;
}

.teamCard > .MuiAvatar-root {
  height: 200px;
  width: 200px;
}

.team__social > a {
  color: white;
  padding: 10px;
}

.otherTeamMemebers {
  text-align: center;
}

.otherMembers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamMemebers {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 30px 10px;
  background-color: rgb(62, 64, 73);
  width: 180px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.teamMember__details > h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.teamMember__details > h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.teamMember__social > a {
  color: white;
  padding: 10px;
}

.cardsrow2 {
  padding-bottom: 50px;
}

.team__members {
  display: flex;
  justify-content: center;
}

.teamrow2 {
  margin-top: -30px;
}

.teambtntextcolor {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.custombtn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(236, 230, 230);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonteam {
  text-align: center;
  color: white;
}

.custombtn:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.custombtn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media only screen and (max-width: 668px) {
  .team {
    padding: 20px;
  }
  .teamCards {
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  }
  .teamCard {
    margin: 10px;
  }
  .otherTeamMemebers > h2 {
    margin-bottom: 20px;
  }
  .teamMemebers {
    margin: 5px;
    padding: 5px;
  }
  .teamMember__details > h1 {
    font-size: 16px;
  }
  .teamMember__details > h2 {
    font-size: 18px;
  }
  .cardsrow2 {
    margin-top: -15px;
  }
  .team__members {
    flex-direction: column;
  }
  .teamrow2 {
    margin-top: 0px;
  }
}
/* 740 samusub galaxy S8+ */

@media only screen and (max-width: 740px) {
  .team {
    padding: 15px;
  }
  
}  

