.team {
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 50px;
}

.team__title {
  text-align: center;
}

.teamCards {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.teamCard {
  margin: 20px;
  background-color: rgb(62, 64, 73);
  width: 250px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.team__details {
  padding: 10px;
  text-align: center;
}

.team__details > h1 {
  font-size: 20px;
}

.teamCard > .MuiAvatar-root {
  height: 200px;
  width: 200px;
}

.team__social > a {
  color: white;
  padding: 10px;
}

.otherTeamMemebers {
  text-align: center;
}

.otherMembers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamMemebers {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 30px 10px;
  background-color: rgb(62, 64, 73);
  width: 180px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.teamMember__details > h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.teamMember__details > h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.teamMember__social > a {
  color: white;
  padding: 10px;
}

.cardsrow2 {
  margin-top: -80px;
}

.team__members {
  display: flex;
  justify-content: center;
}

.teamrow2 {
  margin-top: -30px;
}

@media only screen and (max-width: 600px) {
  .team {
    padding: 20px;
  }

  .teamCards {
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .teamCard {
    margin: 10px;
  }

  .otherTeamMemebers > h2 {
    margin-bottom: 20px;
  }

  .teamMemebers {
    margin: 5px;
    padding: 5px;
  }

  .teamMember__details > h1 {
    font-size: 16px;
  }

  .teamMember__details > h2 {
    font-size: 18px;
  }

  .cardsrow2 {
    margin-top: -15px;
  }

  .team__members {
    flex-direction: column;
  }

  .teamrow2 {
    margin-top: 0px;
  }
}
