.technologies {
  padding: 100px;
  background-color: #fafafa;
}

.techSec__title {
  text-align: center;
}

.techLearn {
  display: flex;
  padding: 100px 100px 0px 100px;
}

.techLearn > div > img {
  height: 400px;
  max-width: 450px;
  object-fit: contain;
}

.techAbout {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .technologies {
    padding: 15px;
  }

  .techSec__title > h1 {
    font-size: 20px;
  }

  .techLearn {
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .techLearn > div > img {
    width: 300px;
    object-fit: contain;
  }
}
