.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}
.banner > div {
  width: 40%;
  height: 400px;
}
.gdsc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: sans-serif;
}
.gdsc h2,
.gdsc p {
  margin-bottom: 30px;
  margin-right: 120px;
}
.gdsc h2 {
  margin-top: 10px;
}
.gdsc p {
  font-weight: bold;
  color: rgba(85, 82, 82, 0.9);
  font-size: 1.2rem;
}
.membership {
  border: 1px solid transparent;
  background-color: rgb(47, 91, 231);
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 16px 31px -6px rgba(0, 0, 0, 0.3);
  max-width: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.membership * {
  margin: 0 3px;
}
.community {
  background: url("/community.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

/* 
  Media Queries
*/
@media (max-width: 880px) {
  .banner > div {
    width: 45%;
    height: 400px;
  }
  .gdsc h2,
  .gdsc p {
    margin-bottom: 30px;
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .banner {
    flex-direction: column;
    height: 100vh;
  }
  .banner > div {
    width: 95%;
    height: 400px;
  }
  .gdsc h1 {
    font-size: 1.5rem;
  }
  .gdsc h2 {
    font-size: 1.2rem;
  }
  .gdsc p {
    margin-right: 0px;
    font-size: 1.1rem;
  }
}
